body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } 
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #1912e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #e90404;
}

  main {
    flex: 0; 
  }
  
  footer {
    color: rgb(250, 247, 247);
    text-align: center;
    padding: 20px;
    margin-top: auto;
    height: 180px; 
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  nav ul li a:hover {
    color: #e30606;
  }
  
  .profile-picture {
    width: 200px;
    border-radius: 50%;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .project {
    margin-bottom: 30px;
  }
  
  .project img {
    width: 100%;
    border-radius: 5px;
  }
  
  .project-description {
    margin-top: 10px;
  }
  
  .project-links {
    margin-top: 10px;
  }
  
  .blog-post {
    margin-bottom: 30px;
  }
  
  .blog-post img {
    width: 100%;
    border-radius: 5px;
  }
  
  .resume-section {
    margin-top: 50px;
  }
  
  .resume-section h2 {
    margin-bottom: 10px;
  }
  
  .service {
    margin-bottom: 30px;
  }
  
  .testimonial {
    margin-bottom: 30px;
  }
  
  .faq {
    margin-bottom: 30px;
  }
  
  .error-message {
    text-align: center;
    margin-top: 50px;
  }
  
  .centered-section {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100%; 
      color: #fff;
  
  }